<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>shapegraphics.playgroundpage</string>
		<string>84CC79D8-D90A-4E16-A03F-8314E14F01B9.playgroundpage</string>
		<string>8FC4F074-8A47-4846-87D8-D6675F556E1A.playgroundpage</string>
		<string>D4A71229-C62E-43E0-9972-6DCE0B062887.playgroundpage</string>
		<string>05033843-3BA2-4390-84D5-3FEF36BC2EBB.playgroundpage</string>
		<string>3CA8CB6E-719F-45F1-AC39-0EA3B6D95778.playgroundpage</string>
		<string>9EDF8235-7402-4492-A6F9-50045EA67F29.playgroundpage</string>
		<string>CBBB6D65-D140-4F27-8782-BC1A7D17A92F.playgroundpage</string>
		<string>82A7E746-6E12-467D-BE4A-2F0824FEE31B.playgroundpage</string>
		<string>ADE21F6C-C356-4A58-968E-2CA89CF97708.playgroundpage</string>
		<string>9CFBC12A-1BD1-4290-9CCD-7B0B8ED5BE99.playgroundpage</string>
		<string>D5285060-B29A-484A-A017-73FDB4969042.playgroundpage</string>
	</array>
</dict>
</plist>
